<?xml version="1.0" encoding="UTF-8" ?>

<config>
  
  <!-- Data Directory

       Used to specify an alternate directory to hold all index data
       other than the default ./data under the home.  If
       replication is in use, this should match the replication
       configuration.
    -->
  <dataDir>${lightning.data.dir:}</dataDir>


</config>
